.page-header {
  @include pxRem(height, 71);
  @include pxRem(padding-top, 20);
  width: 100%;
  border-bottom: 1px solid map-get($colors, border-gray-light);
  .header-wrapper {
    @include pxRem(height, 44);
    width: 100%;
    align-items: center;
    .header-left {
      position: relative;
      .brand-img {
        @include pxRem(width, 207);
        @include pxRem(height, 34);
        display: block;
        position: relative;
      }
      .brand-circle {
        @include pxRem(width, 10);
        @include pxRem(height, 10);
        border-radius: 50%;
        position: absolute;
        display: block;
        background-color: map-get($colors, yellow);
        &-top {
          @include pxRem(left, -1);
          @include pxRem(top, -1);
        }
        &-bottom {
          @include pxRem(right, -1);
          bottom: 0;
        }
      }
    }
  }
  .header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-list {
      @include pxRem(margin-right, 50);
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      .header-item {
        @include pxRem(font-size, 18);
        font-weight: 700;
        a {
          @include pxRem(line-height, 25);
          z-index: 10;
          position: relative;
          overflow: hidden;
          &.active::before {
            @include pxRem(height, 4);
            @include pxRem(bottom, 2);
            content: "";
            position: absolute;
            display: block;
            width: 85%;
            background-color: map-get($colors, yellow);
            opacity: 0.7;
            z-index: -1;
          }
        }
      }
    }
  }
}

// responsive
@media only screen and (max-width: map-get($breakpoints, medium)) {
  .page-header {
    .header-wrapper {
      justify-content: space-between;
      position: relative;
    }
    .header-right {
      position: absolute;
      .header-list {
        position: absolute;
        flex-direction: column;
        top: 100%;
        width: 100%;
        .header-item {
          width: 100%;
          background-color: map-get($colors, white);
          a {
            @include pxRem(padding, 10 0 10 20);
            background-color: map-get($colors, white);
          }
        }
      }
    }
    .btn {
      display: none;
    }
    .btn-bars {
      position: absolute;
      right: 0;
    }
  }
}
